@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* Initial state */
.animate-x {
  opacity: 0; /* Start completely invisible */
  transform: translateX(15px); /* Set the initial offset */
  display: inline-block; /* Ensure transform works correctly */
  animation: animateOnX 1s ease-out 0.4s forwards; /* Delayed animation */
}

/* Keyframes for the animation */
@keyframes animateOnX {
  0% {
      opacity: 0;
      transform: translateX(15px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}



/* Initial state */
.animate-y {
  opacity: 0; /* Start completely invisible */
  transform: translateY(15px); /* Set the initial offset along the Y-axis */
   /* Ensure transform works correctly */
  animation: animateOnY 1s ease-out 0.4s forwards; /* Delayed animation */
}

/* Keyframes for the Y-axis animation */
@keyframes animateOnY {
  0% {
      opacity: 0;
      transform: translateY(15px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}